body 
{
    background-color: #1c1c1c;
    color: white;
}

strong
{
    color: mediumturquoise;
    border: 1px solid mediumturquoise;
    padding: 5px;
}

input
{
    background-color: mediumturquoise;
    border: 0px;
    padding: 5px;
    margin: 3px;
}
